<router-outlet></router-outlet>
<div style="height: 240px; width: 300px; padding: 16px; background: salmon; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h1>TAP - RXJS - Exemplo Simples</h1>
  <h3>Click em qualquer ponto!</h3>
  <h3>Acesse o console.log e o fonte para entender o TAP()!</h3>

</div>
<div style="width: 300px; height: 100px;padding:16px;background: seagreen;display: flex; flex-direction: column;justify-content: space-between;align-items: center;">
  <div style="display: flex; flex-direction: column;justify-content: center;align-items: center;">
    <span>Objeto Target:</span>
    <span>{{valueObjetoTarget}}</span>
  </div>
  <div style="display: flex; flex-direction: column;justify-content: center;align-items: center;">
    <span>Get TimeStamp in Page:</span>
    <span>{{valueClick}}</span>
  </div>
</div>